<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <br><br>
    <div style="text-align: left;">
      <br>
      <button style="background-color: rgba(172, 242, 208, 0.942); border: 1px solid; border-color: black; border-radius: 355px; color: rgb(0, 0, 0);" 
              type="button" 
              class="delete" 
              title="delete auto" 
              routerLink="/nuova">
        <h3>Aggiungi auto</h3>
      </button>
      <br><br>
    </div>
    <ul class="auto">
      <li *ngFor="let auto of lista; let indexAuto = index">
        <br>
        <div style="text-decoration: none; text-align: left;">
          <h3>
            <table style="border: 1px solid;">
              <tbody>
                <tr>
                  <th style="color: rgb(43, 0, 255);">
                    {{ auto.nome }} {{ auto.modello }} &nbsp; ({{ auto.km }} Km)
                  </th>
                </tr>
                <tr>
                  <td style="color: rgb(0, 0, 0);">
                    Colore: {{ auto.colore }}
                  </td>
                </tr>
                <tr>
                  <td style="color: rgb(0, 0, 0);">
                    Prezzo: {{ auto.prezzo }} €
                  </td>
                </tr>
                <tr>
                  <td>
                    <br>
                    <button style="font-size: 24px; text-align: center; color: rgb(214, 0, 0);" 
                            type="button" 
                            class="delete" 
                            title="delete auto" 
                            (click)="removeData(indexAuto)">
                      &nbsp;&nbsp;Cancella&nbsp;&nbsp;<br>
                      <i class="material-icons">delete</i>
                    </button>
                    &nbsp;&nbsp;
                    <button (click)="modificaAuto(auto)">Modifica <br>
                      <i class="fa fa-pencil"></i>
                    </button>

                    <br><br>
                    <a routerLink="/info/{{ indexAuto }}">
                      <img src="{{ auto.imageUrl }}" style="max-width: 100%; height: auto; width: 750px; max-width: 90%;" />
                    </a>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
          </h3>
        </div>
        <br>
      </li>
    </ul>
    <br>
  </div>
</body>
</html>
